{% extends 'base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <h1 class="text-center">{{ article.title }}</h1>
    <p>{{ article.text }}</p>
    <div class="position-relative mt-lg-5">
        <p>Author:
            <a href="{{ url_for('user.profile', pk=article.author.user.id) }}">
                {{ article.author.user.first_name }} {{ article.author.user.last_name }}
            </a>
        </p>
        <p>Created at: {{ article.created_at }}</p>
        <p>Updated at: {{ article.updated_at }}</p>
        {% if current_user.id == article.author.user.id or current_user.is_staff %}
            <a class="position-absolute top-0 end-0" href="{{ url_for('article.delete', pk=article.id) }}">
                <button class="btn btn-primary mb-3">Delete article</button>
            </a>
        {% endif %}
    </div>


{% endblock %}
