{% extends 'base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <h1 class="text-center">{{ article.title }}</h1>
    <p>{{ article.text }}</p>
    <div class="row">
        <div class="col-6 mt-2">
            <div class="text-muted">Author:
                <a href="{{ url_for('user.profile', pk=article.author.user.id) }}">
                    {{ article.author.user.first_name }} {{ article.author.user.last_name }}
                </a></div>
            <div class="text-muted">Created at: {{ article.created_at }}</div>
            <div class="text-muted">Updated at: {{ article.updated_at }}</div>
            {% if current_user.id == article.author.user.id or current_user.is_staff %}
                <a class="" href="{{ url_for('article.delete', pk=article.id) }}">
                    <button class="btn btn-primary mt-3">Delete article</button>
                </a>
            {% endif %}
        </div>
        <div class="col-6">
            {% for tag in article.tags %}
                <a href="{{ url_for('article.article_list_by_tag', tag_id=tag.id) }}">
                    <span class="badge bg-info">{{ tag.name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>


{% endblock %}
